<%- include("partials/header") %>

<h2>Login</h2>

<form id="loginForm">
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Contraseña" required />
  <button>Ingresar</button>
</form>

<script src="./js/login.js"></script>
<%- include("partials/footer") %>
