<%- include("partials/header") %>

<h2>Perfil de <span id="username"></span></h2>
<p>Email: <span id="email"></span></p>

<script src="./js/checkAuth.js"></script>
<script src="/js/profile.js"></script>

<%- include("partials/footer") %>
