<%- include("partials/header") %>

<h2>Registro</h2>

<form id="registerForm">
  <input type="text" name="username" placeholder="Usuario" required />
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Contraseña" required />

  <button>Registrarse</button>
</form>

<script src="./js/register.js"></script>

<%- include("partials/footer") %>
