<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>App MVC</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/login">Login</a>
        <a href="/register">Registro</a>
        <a href="/profile">Perfil</a>
      </nav>
      <script>
        window.API_URL = "<%= API_URL %>";
      </script>
    </header>
    <main></main>
  </body>
</html>
