body {
  font-family: Arial;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

input, button {
  padding: 10px;
  font-size: 16px;
}